.cards-wrapper_peligro {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columnas en todas las resoluciones */
    gap: 95px; /* Espaciado entre las tarjetas */
    width: 80%;
}

.card-container_peligro {
    margin: 0 auto;
    height: 150px;
    perspective: 1000px;
}

.card_peligro {
    width: 220px;
    height: 120%;
    position: relative;
    transform-style: preserve-3d;
    transition: transform 0.6s;
    cursor: pointer;
}

.card-container_peligro:hover .card_peligro {
    transform: rotateY(180deg);
}

.card-face_peligro {
    position: absolute;
    width: 100%;
    height: 130%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.card-front_peligro {
    background-color: white;
    border: 2px solid #0F172A;
    border-radius: 5px;
}

.card-front_peligro img {
    width: 100%;
    height: 100%;
    margin-bottom: 0;
}

.card-front_peligro h3 {
    margin-top: 15px;
    margin-bottom: 4px;
    font-size: 16px;
    color: #0F172A;
}

.card-back_peligro {
    background-color: #003454;
    color: white;
    transform: rotateY(180deg);
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center; /* Alinea el texto al centro */
    height: 130%; /* Asegúrate de que ocupe toda la altura de la tarjeta */
}


.card-back_peligro p {
    font-size: 14px;
    margin-bottom: 10px;
    line-height: 1.2;
}

/* Media query para dispositivos móviles */
@media (max-width: 768px) {
    .cards-wrapper_peligro {
        grid-template-columns: repeat(1, 1fr); /* Mantener 2 columnas en móviles */
        gap: 50px;
        padding: 5px;
    }

    .card-container_peligro {
        width: 100%;
        max-width: 160px; /* Reducir el ancho máximo en móviles */
        height: 120px; /* Reducir la altura */
    }

    .card_peligro {
        width: 100%;
        height: 100%;
    }

    /* Asegurar que las tarjetas sean tocables en móviles */
    .card-container_peligro:active .card_peligro {
        transform: rotateY(180deg);
    }
}

/* Ajustes adicionales para tabletas */
@media (max-width: 1024px) {
    .cards-wrapper_peligro {
        grid-template-columns: repeat(1, 1fr);
    }
}
