.card-container_momentos {
  display: flex;
  gap: 1rem;
  margin-top: 2%;
}

.card_momentos {
  position: relative;
  width: 295px;
  height: 360px;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out; 
}

.card_momentos img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(100%); 
  transition: filter 0.5s ease-in-out; 
}

.card_momentos:hover {
  transform: scale(1.05); 
}

.card_momentos:hover img {
  filter: grayscale(0%); 
}

.card_momentos .info_momentos {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(180deg, 
  #00345481 0%,
  #003454 10%,
  #00345481 500%) 100%;
  color: white;
  padding: 1.2rem;
  text-align: center;
  overflow: hidden;
  height: auto;
}
.titulo_mom h1{
  font-size: 18px;
}
.card_momentos h3 {
  margin: 0;
  font-size: 1.5rem;
  transition: color 0.5s ease-in-out; 
  font-size: 16px;
}

.card_momentos:hover h3 {
  color: #ffffff; 
}

.card_momentos p {
  color: #fff;
  margin: 0;
  font-size: 14px;
  opacity: 0; 
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out; 
}

.card_momentos:hover p {
  opacity: 1; 
  max-height: 100px; 
}

.card_momentos .info_momentos hr {
  border: none;
  height: 2px;
  background-color: #fff; 
  margin: 10px 0;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.5s ease-in-out; 
}

.card_momentos:hover .info_momentos hr {
  background-color: #ffffff; 
}


@media (hover: none) and (pointer: coarse) {
  .card_momentos p {
    opacity: 1;
    max-height: 100px;
  }

  .card_momentos:active {
    transform: scale(1.05);
  }
}

.instruction-web{
  display:block;
}
.instruction-mobile{
  display:none;
}

@media screen and (max-width: 768px) {
  .card-container_momentos {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0 auto; 
    height: auto; 
    padding: 1rem;
  }

  .card_momentos {
    width: 100%; 
    height: 350px; 
  }
  .instruction-web{
    display:none;
  }
  .instruction-mobile{
    display:block;
  }
}
