.border {
    border: 1px solid #ddd;
  }
  
  .rounded-lg {
    border-radius: 8px;
  }
  
  .rounded-t-lg {
    border-radius: 8px 8px 0 0;
  }
  
  .text-gray-800 {
    color: #4a4a4a;
  }
  
  .bg-gray-200 {
    background-color: #f3f3f3;
  }
  
  .hover\:bg-gray-300:hover {
    background-color: #e2e2e2;
  }
  
  .bg-gray-100 {
    background-color: #f7f7f7;
  }
  
  .text-white {
    color: #ffffff;
  }
  
  .tabs-button-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    width: 100%;
    flex-wrap: wrap;
  }
  .box-web{
    height: 400px;
  }
  .contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;    /* Centra verticalmente */
    height: 50%;           /* Asegúrate de que el contenedor tenga altura */
    width: 100%;            /* Asegúrate de que el contenedor tenga anchura */
}
.izq-img {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center;    /* Centra verticalmente */
  height: 100%;           /* Asegúrate de que el contenedor tenga altura */
  width: 100%;  
  margin-top: 40px;          /* Asegúrate de que el contenedor tenga anchura */
}
.tam-img{
  max-width: 100%;
    max-height: 100%;
}
.contenido-imagen {
    max-width: 80px;
    max-height: 90px;
}

  .tabs-button {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    text-align: center;
    min-width: 80px;
  }
  
  /* Estilos para los botones de sección */
  .section-button {
    transition: all 0.3s ease;
    font-weight: 600;
  }
  
  .section-button:hover {
    transform: translateY(-2px);
  }
  
  /* Agregar estos estilos */
  .flex {
    display: flex;
  }
  
  .gap-4 {
    gap: 1rem;
  }
  
  .mb-4 {
    margin-bottom: 1rem;
  }
  
  .flex-1 {
    flex: 1 1 0%;
  }
  
  @media (max-width: 640px) {
    .flex-col {
      flex-direction: column;
    }
    
    [class*="md\:w-1/3"] {
      width: 100%;
    }
    
    [class*="md\:w-2/3"] {
      width: 100%;
    }
    
    [class*="md\:ml-4"] {
      margin-left: 0;
      margin-top: 1rem;
    }
  }
  
  @media (max-width: 640px) {
    .tabs-button-container {
      flex-wrap: wrap;
    }
    
    .w-full {
      width: 100%;
    }
    
    .text-center {
      text-align: left;
    }
    
    .text-xl {
      font-size: 1.125rem;
    }
    
    .mb-4 {
      margin-bottom: 1rem;
    }
    
    .p-4 {
      padding: 1rem;
    }
    
    audio {
      width: 100%;
    }
    
    .px1{
        margin-left: -6rem;
        margin-right: -6rem;
    }
    
    .gap-4 {
      gap: 0.5rem;
    }
    .box-movil{
      height: auto;
    }
  }
  .lar-instru{
    padding-left: 6rem;
    padding-right: 6rem;
  }
  