.picto-card-container {
  perspective: 1000px;
}

.picto-card {
  width: 100%;
  max-width: 380px;
  height: 160px;
  text-align: center;
  transform-style: preserve-3d;
  transition: transform 0.6s;
  cursor: pointer;
  position: relative;
  max-height: 160px; 
}

.picto-card-container.flipped .picto-card {
  transform: rotateY(180deg);
}

.picto-card-front,
.picto-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 0.5rem;
  background-color: #f8f9fa;
}

/* Ajuste para alinear la imagen encima del texto */
.picto-card-front {
  flex-direction: column; /* Hace que la imagen se ubique encima del texto */
}

.picto-card-back {
  transform: rotateY(180deg);
  background-color: #003454; /* Color para la parte trasera */
  color: #ffffff; /* Asegúrate de que el texto sea visible */
}
.text-small {
  font-size: 14px;
  color: #f8f8f8;
  line-height: 1.5; /* Aumenta el espacio entre líneas */
}

