.historieta-container {
    transition: all 0.3s ease-in-out;
    max-height: 450px;
  }
  
  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .historieta-container {
      padding: 1rem;
    }
  
    .historieta-image {
      height: 60vw;
    }
  }
  
  /* Additional styles for better responsiveness */
  @media (max-width: 640px) {
    .historieta-image {
      height: 70vw;
    }
  }
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 50;
  }
  
  .modal-image {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  