.tipos-container-tp {
  display: flex;
  flex-direction: column;
  margin-bottom: 9rem;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .tipos-container-tp {
    margin-bottom: 0;
  }
}

.header-section-tp {
  background-color: #0a9ead;
  width: 100%;
  padding: 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.intro-text-tp {
  max-width: 64rem;
  margin-top: 1rem;
}

.cards-container-tp {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  max-width: 1070px;
  padding: 0;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .cards-container-tp {
    grid-template-columns: repeat(3, 1fr);
  }
}

.chemical-card-tp {
  background-color: white;
  border-radius: 0.5rem;
  overflow: hidden;
  border: 1px solid #0f172a;
  transition: all 0.3s ease;
  cursor: pointer;
  position: relative;
  padding-left: 0.5rem;
  padding-right: .5rem;
  padding-top: 0.5rem;
  padding-bottom: 0.50rem;
}

.chemical-card-tp::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0.25rem;
  background: #17e497;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.chemical-card-tp:hover::before {
  transform: scaleX(1);
}

.chemical-card-tp:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #0a9ead;
}

.chemical-card-tp.active {
  background-color: #0f172a;
  border-color: #6e3cd2;
  transform: translateY(-0.5rem);
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.chemical-card-tp.active::before {
  transform: scaleX(1);
}

.card-icon-tp {
  width: 100px;
  height: 100px;
  margin: 0 auto 1rem;
  margin-top: 1rem;
  border-radius: 10%;
  transition: transform 0.3s ease;
}

.chemical-card-tp:hover .card-icon-tp {
  transform: scale(1.1);
}

.card-title-tp {
  color: #003454;
  font-size: 1.125rem;
  font-weight: 700;
  
  text-align: center;
}

.card-content-tp {
  line-height: 1.0rem;
}

.card-content-tp strong {
  color: #003454;
  font-weight: 600;
}
.chemical-card-tp:hover .card-content-tp span {
  color: #FBFBFB;
}

.instruction-text-tp {
  max-width: 48rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (max-width: 640px) {
  .cards-container-tp{
    width: 80%;
  }
  .intro-text-tp{
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
  }
  .instruction-text-tp{
    padding-left: 1.5rem;
    padding-right: 1.5rem; 
  }
}