.columnasweb{
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
  .image-boton {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }

  .dark-display{
    height: 100vh;
    margin: 5px;
  }
  .display-mobile{
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 24px;
    padding-right: 24px;
    height: 100vh;
    }
   
    .der-column{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
    }
    .wAct{
        width: 90%;
    }
  /* Media queries for responsive design */
  @media (max-width: 768px) {
    .display-mobile{
        height: auto;
        padding-left: 14px;
        padding-right: 14px;    
    }
    .dark-display{
        padding: 0;
        margin: 0;
        height: auto;
    }
    .ligth-display{
        height: auto;
    }
  
    .text-mobile{
        display: flex;
        text-align: justify;
    }
    .columnas{
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .feed-mov{
      margin-left: 30px;
    }
  }
  
  /* Additional styles for better responsiveness */
  @media (max-width: 640px) {
    .der-column{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .wAct{
        width: 100%;
    }
  }